.left-gongneng{
    left: 0;
    top: 0;
    position: fixed;
    width: 180px;
    height: 100%;
    z-index: 999;
    transition: all 1s;
}

.left-gongneng.hidemenu{
    left: -180px;
}
.heima{
    width: 180px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #367FA9;
    color: #ffffff;
    font-size: 24px;
   display: block;
}
.caidan{
    width: 100%;
    height: 100%;
    background-color: #222D32;
   
}
.caidan div:first-child{
    width: 180px;
    height: 180px;
    padding-top: 30px;
}
.caidan div:first-child img{
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;

}
.caidan div:first-child p{
    font-size: 24px;
    text-align: center;
    color: #ffffff;
}

.xuanze ul li{
    border-left: 3px solid transparent;   
}

.xuanze ul li a.current{
    background-color: #1D1F21;
    border-left: 3px solid #006699;
}

.xuanze ul li a{
    padding-left: 40px;
    line-height: 40px;
    display: block;
    color: #fff;

}
.xuanze ul li a i{
    margin-right: 5px;
}

.xuanze .child a{
    text-align: center;
    padding-left: 20px;
   
}

.lt_main {
    padding-left: 180px;
    padding-top: 50px;
    height: 2000px;
    background-color: pink;
    transition: all 1s;
  }
  .lt_main.hidemenu {
    padding-left: 0px;
  }
  
  .lt_topbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: #3C8DBC;
    padding-left: 180px;
    transition: all 1s;
  }
  .lt_topbar.hidemenu {
    padding-left: 0px;
  }
  .lt_topbar a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 20px;
  }
  
  .echarts_left,
  .echarts_right {
    height: 400px;
    width: 48%;
    background-color: skyblue;
  }

  .container-fluid ol{
      margin-top: 10px;
  }